@font-face {
    font-family: RobotoCondensed-Light;
    src: url("../../assets/fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
