.notes-app{
    header{
        height: 5rem;
        width: 100%;
        padding: 1rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        background-color: $main-dark-color;
        color: $txt-light-color;

        .header-main-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .app-logo{
                font-family: SairaCondensed-Bold;
            }
            
            h2{
                font-size: 1rem;
            }
            
        }
        
        
        .logout-btn{
            cursor: pointer;
            font-size: 1.5rem;
        }
    }

    main{
        width: 100%;
        height: 100%;
        padding: 1rem 0.5rem;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, 10rem);
        grid-template-rows: repeat(auto-fit, 10rem);
        gap: 1rem;
        justify-content: center;
        
        @include for-tablet{
            padding: 2rem;
            grid-template-columns: repeat(auto-fit, 15rem);
            grid-template-rows: repeat(auto-fit, 15rem);
            gap: 2rem;
        }
    }
}