.note-details-page{

    width: 100vw;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .note-details{
        background-color: rgb(240, 230, 145);
        width: 95%;
        height: 90%;
        border-radius: 10px;
        box-shadow: 5px 5px 11px 1px rgba(0,0,0,0.49);
        padding: 1rem;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        form{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            button{
                background-color: rgb(38, 153, 46);
                width: 5rem;
            }
        }

        h2, input{
            font-size: 3rem;
            margin-bottom: 4rem;
        }

        p, textarea{
            font-size: 1.5rem;
        }

        input, textarea{
            background-color: rgba(255, 255, 255, 0.281);
            border-radius: 10px;
            border: none;
            padding: 0.5rem;
        }

        textarea{
            width: 100%;
            height: 100%;
            resize: none;
        }

        .action-btns{
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;

            display: flex;
            gap: 0.5rem;

        }
        form button, button{
            padding: 0.3rem 0.75rem;
            font-size: 1.15rem;
            border-radius: 5px;
            color: $txt-light-color;
        }

        & button:nth-child(1){
            background-color: rgb(199, 146, 60);
        }

        & button:nth-child(2){
            background-color: rgb(158, 32, 32);
        }
    }
}