.notes-app{
    header{
        height: 5rem;
        width: 100%;
        padding: 1rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        background-color: $main-dark-color;
        color: $txt-light-color;

        .header-main-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .app-logo{
                font-family: SairaCondensed-Bold;
            }
            
            h2{
                font-size: 1rem;
            }
            
        }
        
        
        .logout-btn{
            cursor: pointer;
            font-size: 1.5rem;
        }
    }

    main{
        width: 100%;
        height: calc(100vh - 5rem);
        max-height: calc(100vh - 5rem);
    }
}